@charset "utf-8";

/*-----------BASE-----------*/
* {
	margin: 0px;
	padding: 0px;
}

body {
	text-align: center;
	color: #222222;
	font-size: 100%;
	line-height: 150%;
	font-family:  "Verdana","HiraKakuPro-W3","ヒラギノ角ゴ Pro W3", sans-serif;
	background: transparent;
	padding-bottom: 10px;
}

body#wrap {
	width: 750px;
	margin: 0 auto;
	text-align: left;
}

img {
	vertical-align: bottom;
}
a img {
	border: none;
}
a:link {
	color: #334499;
}
a:visited {
	color: #993366;
}
a:hover {
	color: #00cccc;
}

p {
	margin-top: 0.5em;
	text-indent: 1em;
}

.center {
	text-align: center;
}

/*----------- HEADER -----------*/
div#top {
	background: url(../img/top.jpg) no-repeat;
	margin: 0 auto;
	height: 150px;
}


h1 {
	display: none;
}


/*----------- NAVIGATION -----------*/
h2#menu {
	display: none;
}

#navi {
	margin-top: 0px;
	margin-bottom: 10px;
	background-color: #00cc22;
	color: #ffffff;
	float: left;
	width: 100%;
}

#navi ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#navi li {
	display: inline;
	margin: 0;
	padding: 0;

}

#navi a {
	text-decoration: none;
	color: #ffffff;
	display: block;
	float: left;
	padding: 2px 12px 2px 12px;
	border-right: 1px solid #ffffff;
}

#navi a:hover {
	color: #00cc22;
	background-color: #ffcc00;
}



/*----------- FOOTER -----------*/

#bottom {
	margin-top: 0px;
	margin-bottom: 5px;
	font-size: small;
	background-color: #00cc22;
	color: #ffffff;
	float: left;
	width: 100%;
}

#bottom ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#bottom li {
	display: inline;
	padding: 0;
}

#bottom a {
	text-decoration: none;
	color: #ffffff;
	display: block;
	float: right;
	padding: 2px 12px 2px 12px;
	border-left: 1px solid #ffffff;
}

#bottom a:hover {
	color: #00cc22;
	background-color: #ffcc00;
}

#valid ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: left;
}

#valid li {
	display: inline;
	padding: 0;
}


#footer {
	font-size: small;
	margin: 0;
	padding: 0;
	text-align: right;
	line-height: 130%;
}

#footer ul {
	list-style-type: none;
}


/*----------- CONTENTS -----------*/

#contents {
	margin: 0 1em 10px 1em;
	background: url(../img/test_pic.jpg) no-repeat;
	background-position: bottom right;
}


#contents h2 {
	color: #999999;
	font-size: 250%;
	font-weight: normal;
	margin-top: 50px;
	text-align: right;
}

#contents h2 span {
	color: #00cc22;
}

#contents h3 {
	font-size: 120%;
	margin-top:1em;
	border-bottom: 2px dotted #00cc22;
	background: url(../img/h3_icon.png) no-repeat;
	background-position: 0;
	padding-left: 15px;
}

#contents ul {
  margin: 0 0 0 1em;
  padding: 0;
}
#contents li {
  margin: 0.5em 0 0.5em 0;
  padding: 0;
}

#contents dl {
  margin: 0 0 0 1em;
}
#contents dt {
  margin: 0.5em 0 0.5em 0;
}
#contents dd {
  margin: 0.5em 0 0.5em 1em;
}

/*----------- CONCERT_INFO -----------*/
